node_modules/
out/
download/
x_ite/
package-lock.json

**/.DS_Store

Gemfile.lock
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
vendor

src/assets/html/application.html
src/assets/html/document.html
src/assets/html/window.html
src/assets/themes/default.css
src/assets/themes/prompt.css
