@charset "utf-8";
@import url(system-colors.css);

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::placeholder {
  color: var(--system-gray2);
}

::selection {
  color: var(--system-gray0);
  background: var(--system-gray4);
}

#label {
  font-size: 80% !important;
}

input {
  border: 1px solid var(--system-gray3) !important;
  background: none !important;
  color: var(--text-color) !important;
}

#ok {
  background-color: var(--system-red) !important;
}

#cancel {
  border: 1px solid var(--system-gray3) !important;
  background-color: transparent !important;
  color: var(--text-color) !important;
}

#buttons > button,
#buttons > input[type=submit] {
  border-radius: 7px !important;
  padding: 0.3em 1.8em !important;
  width: 100px !important;
}
