<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3d</string>
        <string>X3D</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+xml</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>X3D Model (XML Encoding)</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.x3d</string>
				<string>io.castleengine.view3dscene.x3d</string>
				<string>public.plain-text</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dz</string>
        <string>X3DZ</string>
        <string>x3d.gz</string>
        <string>X3D.GZ</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+xml</string>
        <string>application/gzip</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>X3D Model (XML Encoding)</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.x3d</string>
				<string>io.castleengine.view3dscene.x3d</string>
				<string>public.data</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dv</string>
        <string>X3DV</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+vrml</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>X3D Model (Classic VRML Encoding)</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.x3dv</string>
				<string>io.castleengine.view3dscene.x3dv</string>
				<string>public.plain-text</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dvz</string>
        <string>X3DVZ</string>
        <string>x3dv.gz</string>
        <string>X3DV.GZ</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+vrml</string>
        <string>application/gzip</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>X3D Model (Classic VRML Encoding)</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.x3dv</string>
				<string>io.castleengine.view3dscene.x3dv</string>
				<string>public.data</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dv</string>
        <string>X3DV</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+vrml</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>X3D Model (Classic VRML Encoding)</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.x3dv</string>
				<string>io.castleengine.view3dscene.x3dv</string>
				<string>public.plain-text</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dvz</string>
        <string>X3DVZ</string>
        <string>x3dv.gz</string>
        <string>X3DV.GZ</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+vrml</string>
        <string>application/gzip</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>X3D Model (Classic VRML Encoding)</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.x3dv</string>
				<string>io.castleengine.view3dscene.x3dv</string>
				<string>public.data</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>wrl</string>
        <string>WRL</string>
        <string>vrml</string>
        <string>VRML</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/vrml</string>
        <string>x-world/x-vrml</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>VRML Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.vrml</string>
				<string>io.castleengine.view3dscene.vrml</string>
				<string>public.plain-text</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>wrz</string>
        <string>WRZ</string>
        <string>wrl.gz</string>
        <string>WRL.GZ</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/vrml</string>
        <string>x-world/x-vrml</string>
        <string>application/gzip</string>
      </array>
      <key>CFBundleTypeName</key>
			<string>VRML Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.create3000.vrml</string>
				<string>io.castleengine.view3dscene.vrml</string>
				<string>public.data</string>
			</array>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>gltf</string>
        <string>GLTF</string>
        <string>glb</string>
        <string>GLB</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/gltf+json</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>glTF Model</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>obj</string>
        <string>OBJ</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/obj</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Geometry Definition File Format</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>stl</string>
        <string>STL</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/stl</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Standard Tesselated Geometry File Format</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>ply</string>
        <string>PLY</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/ply</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Polygon File Format</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>svg</string>
        <string>SVG</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>image/svg+xml</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Scalable Vector Graphics Image</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
  </array>
</dict>
</plist>
