<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3d</string>
        <string>x3dz</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+xml</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>X3D XML Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dv</string>
        <string>x3dvz</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+vrml</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>X3D VRML Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>x3dj</string>
        <string>x3djz</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/x3d+json</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>X3D JSON Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>wrl</string>
        <string>wrz</string>
        <string>wrl.gz</string>
        <string>vrml</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/vrml</string>
        <string>x-world/x-vrml</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>VRML Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>gltf</string>
        <string>glb</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/gltf+json</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>glTF Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>obj</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/obj</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>OBJ Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>stl</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/stl</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>STL Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>ply</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>model/ply</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>PLY Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>svg</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>image/svg+xml</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>SVG Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
  </array>
</dict>
</plist>
